

@use "./../abstract";


.footer-widget{
    & h4.widget-title{
        color: $white-color;
    }
    & .widget-content{
        & p{
            color: rgba(255, 255, 255, 0.80);
        }
        & .social-box{
            & a{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1px solid rgba(255, 255, 255, 0.10);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                &:not(:last-child){
                    margin-right: 5px;
                }
                &:hover{
                    background-color: $primary-color;
                    border-color: transparent;
                }
            }
        }
    }
}
.footer-nav-widget{
    padding-left: 30px;
    @include respond(lg){
        padding-left: 0;
    }
    & .widget-content{
        & ul{
            & li{
                &:not(:last-child){
                    margin-bottom: 15px;
                }
                & a{
                    &:hover{
                        color: $primary-color;
                    }
                }
            }
        }
    }
}
.footer-time-widget{
    padding-left: 25px;
    @include respond(xxxl){
        padding-left: 0;
    }
    @include respond(lg){
        padding-left: 0;
    }
    & .widget-content{
        & ul{
            & li{
                &:not(:last-child){
                    margin-bottom: 13px;
                }
                display: flex;
                & span.days{
                    margin-right: 20px;
                    flex: 0 0 auto;
                    width: 90px;
                }
            }
        }
    }
}

.footer-newsletter-widget{
    padding-left: 35px;
    @include respond(lg){
        padding-left: 0;
    }
    & .widget-content{
        & p{
            margin-bottom: 20px;
        }
        & form{
            & .form_control{
                padding-bottom: 15px;
                border: none;
                border-bottom: 1px solid $border-color;
                background-color: transparent;
                color: rgba(255, 255, 255, 0.70);
                &::placeholder{
                    color: rgba(255, 255, 255, 0.70);
                }
            }
            & .submit-btn{
                position: absolute;
                top: 0;
                right: 0;
                background-color: transparent;
                color: $primary-color;
                font-weight: 500;
                & i{
                    margin-left: 10px;
                }
            }
        }
    }
}


.copyright-area{
    padding: 25px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    & .copyright-text{
        @include respond(md){
            text-align: center;
            margin-bottom: 20px;
        }
    }
    & .copyright-link{
        @include respond(md){
            text-align: center;
        }
        & a{
            &:not(:last-child){
                margin-right: 25px;
            }
            &:hover{
                color: $primary-color;
            }
        }
    }
}



/* Footer CSS */ 

.default-footer{
    overflow: hidden;
    & .shape{
        position: absolute;
        z-index: -1;
        & img{
            opacity: .08;
        }
        &.shape-one{
            top: -30px;
            left: -30px;
        }
        &.shape-two{
            bottom: -45px;
            right: -55px;
        }
    }
}

.rs-footer{
    background-color: #091D1C;
    color: $white-color;
    .footer-newsletter-widget{
        & .widget-content{
            & form{
                & .form_control{
                    border-color: rgba(255, 255, 255, 0.10);
                }
            }
        }
    }
}

/* Footer CSS */ 

.cs-footer{
    background-color: $primary-black-color;
    color: $white-color;
}

/* Dessert Footer */ 

.ds-footer{
    background-color: $primary-black-color;
    color: $white-color;
}